h1 {
	background-color: aqua;
	width: 50%;
	border-style: solid;
	border-width: 3px;
	padding: 5px;
	text-align: center;

}

.parrafo {
	background-color: blue;
	width:70%;
	height: 50%;
	border-style: solid;
}

#unico {
	background-color: green;

}

div {
	margin: 10px;
	padding: 10px;
}

#uno {
	background-color: #aa42f4;
	height: 100px;
	width: 100px;
	float: right;
}

#dos {
	background-color: #ef9037;
	height: 100px;
	width: 100px;
}

img {
	float: right;
	height: 20%;
	width: 20%;
}

#tux {
	float: left;
}