.box1 {
	width: 100%;
	height: 100px;
	background-color: grey;
	border: 1px solid red;
	float: right;
	color: white;
}

.box2 {
	width: 33.1%;
	height: 400px;
	border: 1px solid black;
	background-color: blue;
	float: left;
}

.box3 {
	width: 75%;
	height: 200px;
	background-color: yellow;
	float: left;
	clear: right;
}
