#uno {
	background-color: green;
	height: 70px;
	width: 100%;
	text-align: center;
}

#dos {
	background-color: black;
	margin: 10px;
	margin-bottom: 70px;
}

.parr1 {
	background-color: red;
	width: 16%;
	height: 40px;
	margin: 3px;
	float: left;
}

#parr2 {
	text-align: center;
	height: 19%;
	color: white;
	border-style: solid;
	border-color: white;

}
#parr3 {
	text-align: center;
	height: 25%;
	border-width: 3px;
	border-style: solid;
	color: red;
	background-color: aqua;
}

#parr4 {
	text-align: center;
	height: 25%;
	border-width: 3px;
	border-style: solid;
	color: green;
	background-color: yellow;
}

#tres {
	width: 70%;
	height: 250px;
	background-color: black;
	padding: 10px;
}
#cuatro {
	width: 25%;
	height: 270px;
	background-color: #42e2f4;
	float: right;
	text-align: center;
	margin-right: 30px;
}

#cinco {
	width: 100%;
	background-color: green;
	text-align: center;
	height: 70px;
	margin-top: 25px;
	clear: both;
}