#boxLogo {
	width: 15%;
	height: 50px;
	background-color: #8cade2;
	float: left;
	font-weight: bold;
	border-top-style: solid;
	border-left-style: solid;
	display: flex;
    align-items: center;
    justify-content: center;
}

#boxHeader {
	width: 84%;
	height: 50px;
	background-color: #3d6dba;
	float: left;
	font-weight: bold;
	border-top-style: solid;
	border-right-style: solid;
	display: flex;
    align-items: center;
    justify-content: center;
}

#boxMainMenu {
	width: 99%;
	height: 30px;
	background-color: orange;
	float: left;
	font-weight: bold; 
	border-left-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	display: flex;
    align-items: center;
    justify-content: center;
}

#boxContArea {
	width: 99%;
	height: 200px;
	background-color: #c0daea;
	float: left;
	font-weight: bold;
	border-right-style: solid;
	border-left-style: solid;
	display: flex;
    align-items: center;
    justify-content: center;
}

#boxFooter {
	width: 99%;
	height: 50px;
	background-color: #5ac965;
	font-weight: bold;
	float: left;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid; 
	display: flex;
    align-items: center;
    justify-content: center;

}

