#encabezado {
	background-color: #e05769;
	height: 35px;
}

.btnNav {
	background-color: #869af9;
	border-right: 4px;
	border-style: solid;
	border-color: white;
	
}

.sect {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.sect {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin: 1px;
}

.box1 {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.ft {
	background-color: green;
	border-width: 2px;
	border-color: black;
}